@import "./wrapper.css";
@import "./container.css";
@import "./header.css";
@import "./form.css";
@import "./button.css";
:root {
  --black: #030102;
  --grey: #9ea8bd;
  --grey2: #e2e6ee;
  --primary: #ca097a;
  --white: #ffffff;
  --background: #08003b;
  --text1regular: 400 1rem / normal Roboto;
  --heading1: 700 20px / 23px Roboto;
  --text2regular: 300 0.75rem / normal Roboto;
}

body {
  margin: 0;
  padding: 0;
  color: var(--black);
  background-color: var(--background);
  font: var(--heading1);
}
